* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 72vh;
  height: 72vh;
  border-radius: 50%;
  background-color: #bcd0e9c2;
  margin-left: 55%;
  margin-top: 10px;
}

.change {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.change button {
  font-size: 95px;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #bdd5ed;
  border: 2px solid #e1ad7d;
}

.change button:hover {
  background-color: #bcd0e9c2;
}

.temp p {
  font-size: 95px;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.degree {
  display: inline;
  font-family: sans-serif;
  font-size: 85px;
}

.des {
  margin: 0 auto;
  text-align: center;
  width: 83vh;
  margin-left: 52%;
  margin-top: 5vh;
  border: 1px solid #000000;
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px 15px;
}

.cold {
  color: rgb(29, 101, 236);
}
.hot {
  color: red;
}
